<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dev.applicazza.flutter.plugins.whatsapp_stickers">
    <application
        tools:ignore="GoogleAppIndexingWarning"
        android:allowBackup="false"
        android:fullBackupContent="false">

        <provider
            android:name="dev.applicazza.flutter.plugins.whatsapp_stickers.StickerContentProvider"
            android:authorities="${applicationId}.stickercontentprovider"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.whatsapp.sticker.READ"
            />
    </application>

</manifest>
